@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#2b2b2b, #000000);
}

.container {
  display: flex;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
