.settings {
  background-color: #313131;
  width: 270px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.iconButton {
  display: inline-flex;
  flex-direction: row;
  color: #ffffff;
  padding: 5px;
  background-color: #ffffff12;
  border-radius: 2px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 200ms;
  border: 1px solid transparent;
  font-size: 14px;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.iconLabel {
  margin: 2px 5px;
}

.separator {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background-color: #333333;
}

.title {
  font-size: 14px;
  color: #ffffff;
  background-color: #ffffff1f;
  padding: 6px 20px;
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.75);
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.colorModal {
  position: absolute;
  z-index: 9;
  margin-top: 5px;
  transform: translateX(-204px);
}

.colorSwatch {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.colorWrapper {
  position: relative;
}
