.settings {
  background-color: #ffffff0f;
  width: 270px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 20px 0 20px 20px;

  @media screen and (max-width: 620px) {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
}

.settingContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer {
  color: #a2a2a2;
  font-size: 15px;
  padding: 20px 10px;
  text-align: center;
  border-top: 1px solid #2d2d2d;
  line-height: 21px;
  opacity: 0.7;

  a {
    color: deepskyblue;
    margin-left: 5px;
    text-decoration: none;
  }

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: 620px) {
    padding: 10px;
  }
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  @media screen and (max-width: 620px) {
    justify-content: space-between;
  }
}

.iconButton {
  display: inline-flex;
  flex-direction: row;
  color: #ffffff;
  padding: 5px;
  background-color: #ffffff12;
  border-radius: 2px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 200ms;
  border: 1px solid transparent;
  font-size: 14px;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &[aria-selected="true"] {
    border-color: #2196f3;
  }
}

.iconLabel {
  margin: 2px 5px;
}

.separator {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background-color: #333333;

  @media screen and (max-width: 620px) {
    margin: 0;
  }
}

.title {
  font-size: 14px;
  color: #ffffff;
  background-color: #ffffff1f;
  padding: 6px 20px;
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.75);
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  cursor: pointer;

  @media screen and (max-width: 620px) {
    margin: 0;
    padding: 10px;
    width: 50%;
  }
}

.switchWrapperContainer {
  @media screen and (max-width: 620px) {
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.colorModal {
  position: absolute;
  z-index: 9;
  margin-top: 5px;
  transform: translateX(-204px);
}

.colorSwatch {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.colorWrapper {
  position: relative;
}

.download {
  @extend .iconButton;
  margin: 15px 10px 10px;
  padding: 6px 15px;
  text-align: center;
  outline: none;
  width: 100px;
  justify-content: center;
  align-self: center;

  @media screen and (max-width: 620px) {
    display: none;
  }
}

.name {
  background-image: url(/logo.png);
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 30px 0px;
  background-position: center;

  @media screen and (max-width: 620px) {
    display: none;
  }
}

.downloadMobile {
  display: none;
  @media screen and (max-width: 620px) {
    display: block;
  }
}

.switch {
  pointer-events: none;
}
